<h1 class = "page-title">Projects</h1>
<div class = "all-items-container">
    <button (click)="openModal()">New Project</button>
<div class = "projects container">

    <div *ngFor="let project of projects" class="project-bubble">
        <p>{{project.name}}</p>
        <p>{{project.description}}</p>

        <button (click)="openEditModal(project.id)">edit</button>
    </div>

</div>

</div>

<ww-modal id = "modal-add-project">
    <h1>Add a Project</h1>
    <input type="text" placeholder="project name" [(ngModel)]="newProjectName">
    <input type="text" placeholder="project description" [(ngModel)]="newProjectDescription">
    
    
    <button (click)="closeModal(); createProject()" class="button-style">Submit</button>
    
</ww-modal>

<ww-modal id = "modal-edit-project">
    <h1>Edit a Project</h1>
    <input type="text" placeholder=" new project name" [(ngModel)]="newProjectName">
    <input type="text" placeholder="new project description" [(ngModel)]="newProjectDescription">
    
    
    <button (click)="closeModal(); editProject()" class="button-style">Submit</button>
    
</ww-modal>