.login-container {
  background-color: #051622;
  color: #fff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.login-form {
  border: 2px solid rgb(207, 178, 122);
  box-shadow: 1px 1px 5px white;
  padding: 10%;
  border-radius: 10px;
  align-items: center;
}

.input-group {
  margin-bottom: 15px;
  border: none;
}

.input-group input {
  padding: 10px;
  font-size: 16px;
  color: #1BA098;
  background-color: #051622;
  border-top: none;
  border-left: none;
  border-right: none;
  text-align: center;
}

button {
  width: 70%;
  padding: 10px;
  font-size: 16px;
  background-color: #1BA098;
  border-width: 3px;
  border-color: #1BA098;
  border-style: solid;
  color: #fff;
  border-radius: 50px;
  cursor: pointer;
  margin-top: 50px;
  margin-bottom: -5px;
  margin-left: 15%;
}

button:hover {
  background-color: #051622;
}
