<div class="login-container">
  <div class="header">
    <h1>Welcome to Our Application</h1>
    <p>Please login to continue</p>
  </div>

  <div class="login-form">
    <div class="input-group">
      <input type="text" placeholder="Username" [(ngModel)]="credentials.username">
    </div>
    <div class="input-group">
      <input type="password" placeholder="Password" [(ngModel)]="credentials.password">
    </div>
    <button (click)="login()">Login</button>
  </div>
</div>
<app-link-button linkText="/companies" text="Companies"></app-link-button>

