<div class="modal" [style.display]="showModal ? 'block' : 'none'">
  <div class="modal-content">
    <span class="close" (click)="onCloseModal()">&times;</span>

    <form (ngSubmit)="onSubmit()">
      <input
        type="text"
        placeholder="First Name"
        [(ngModel)]="firstname"
        name="firstName"
      />
      <input
        type="text"
        placeholder="Last Name"
        [(ngModel)]="lastname"
        name="lastName"
      />
      <input
        type="text"
        placeholder="Username"
        [(ngModel)]="username"
        name="username"
      />
      <input
        type="text"
        placeholder="Email"
        [(ngModel)]="email"
        name="email"
      />
      <input
        type="text"
        placeholder="Phone"
        [(ngModel)]="phone"
        name="phone"
      />
      <input
        type="password"
        placeholder="Password"
        [(ngModel)]="password"
        name="password"
      />
      <input
        type="password"
        placeholder="Confirm Password"
        name="confirmPassword"
      />
      <div class="admin-toggle">
        <label for="adminToggle">Make Admin?</label>
        <input
          type="checkbox"
          id="adminToggle"
          [(ngModel)]="makeAdmin"
          name="makeAdmin"
        />
      </div>
      <button type="submit">Submit</button>
    </form>
  </div>
</div>
